#new file

# Data Science Tools and Ecosystem

Introduction:
In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List popular languages for Data Science
+ List popular libraries for Data Science
+ List popular tools for Data Science
+ evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. Scipy
4. matplotlib

|Data Science Tools|
|------------------|
|Jupyter notebook|
|Rstudio|
|Anaconda|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Jagadeesan Kirubakaran